* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Black Ops One';
}

#game div {
  border: 1px solid rgb(139, 103, 103);
  flex-basis: 23%;
  height: auto;
  margin-top: 2vh;
  border-radius: 10px;
}

nav {
  text-align: center;
  padding-block: 2rem;
}

nav img {
  width: 29vw;
  /* margin-block: 20px; */
}
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  /* color: whitesmoke; */
  background-image: url(resource/bgImage.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  backdrop-filter: brightness(30%);
  height: 100vh;
}

#instruction-section{
  display: flex;
  justify-content: center;
}

#instruction{
  color: whitesmoke;
  flex-basis: 60vw;
  background: #080503;
  opacity: 0.7;
  padding-inline: 2rem;
  padding-block: 2vh;
  margin-bottom: 2rem;
}

#game-play-rule{
  text-align: start;
  line-height: 1.5;
}
#game-play-rule p{
  padding-bottom: 0.4rem;
}

#turn-status {
  display: none;
}
#reset {
  display: none;
}

.button {
  font-size: 2rem;
}

#score-move-section{
  display: flex;
  justify-content: space-evenly;
  color: whitesmoke
}

#title{
  margin-bottom: 1rem;
}
#detail-section {
  text-align: center;
}
#detail-section button {
  padding-inline: 2vh;
  background-color: #40352B;
  color: whitesmoke;
  border-radius: 5px;
}

#win-status {
  display: none;
  font-size: 3rem;
}

#game-section {
  display: none;
  justify-content: center;
  margin-top: 2vh;
}
#container {
  display: flex;
  flex-basis: 80vw;
  justify-content: center;
}

#game {
  display: flex;
  padding-block: 15px;
  flex-basis: 60vw;
  height: 70vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 10px;
  padding-bottom: 2vh;
}

/* main {
  padding-bottom: 5vw; 
} */

#best-score-status{
  display: none;
}
.card {
  background-image: url(resource/question-mark.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #20130B;
  transition: transform 0.5s;
  transform: none;
}

.rotate {
  transform: rotateY(180deg) ;
}


@media screen and (max-width: 480px) {
  nav img{
    width: 50vw;
  }
  #game div {
    flex-basis: 15.5vw;
    height: 11vh;
    border-radius: 5px;
    margin: 1vw;
  }
  #game {
    justify-content: space-evenly;
    flex-basis: 70vw;
    height: auto;
  }
  #game-play-rule{
    font-size: 0.7rem;
  }
  #score-move-section{
    font-size: 0.7rem;
  }
  #win-status {
    font-size: 1.3rem;
    padding-block: 4rem;
  }
}
